<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            aria-describedby="search-button" value={{keyword}}>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      {{#if restaurants.length}}
      <div class="card-columns">
        {{#each restaurants}}
        <div>
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body px-3 pt-3 pb-0">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <span class="badge badge-pill badge-rate font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
              <div class="mx-3 mb-3 d-flex justify-content-end">
                <a href="/restaurants/{{this._id}}/edit" class="icon-button"><i class="fas fa-edit mx-2"></i></a>
                <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{this._id}}" class="icon-button"><i
                    class="fas fa-trash-alt"></i></a>
              </div>
            </div>
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{this._id}}" tabindex="-1" aria-labelledby="deleteModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body text-center mt-1">
                <i class="fas fa-exclamation-triangle pb-4 text-major-red"></i><br>
                確定刪除<b class="text-major-dark">{{this.name}}</b>這筆餐廳資料嗎？
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">取消</button>
                <form action="/restaurants/{{this._id}}/delete" method="POST">
                  <button type="submit" class="btn btn-major-red btn-sm">刪除</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}
      <h5 class="text-center">
        找不到符合的餐廳
      </h5>
      {{/if}}
    </div>
  </div>
</div>
<div class="fixed-bottom d-flex justify-content-end">
  <a href="/restaurants/new"
    class="btn btn-major rounded-circle d-flex justify-content-center align-items-center mr-5 mb-3 shadow"
    style="width:3rem;height:3rem">
    <span><i class="fas fa-plus"></i></span>
  </a>
</div>